<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <span>
        <h2>Add new friend to list</h2>
    </span>

    <form th:action="@{/add}" th:object="${friend}" method="post">

        <label for="Fist Name">First Name</label>
        <input type="text" th:field="*{firstname}">
        <br></br>

        <label for="last Name">Last Name</label>
        <input type="text" th:field="*{lastname}">
        <br></br>

        <button type="submit">Add Friend</button>

    </form>

</body>

</html>